@{ ViewBag.Title = "Home Page"; }

<style>
    .jumbotron {
        background-color: #000;
    }

    .container-title {
        background-color: #000;
    }

    .title {
        color: #93bdc9;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 141px;
    }

    .small-text {
        color: #93bdc9;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 25px;
        padding-top: 55px;
    }

    .hr {
        background-color: #fff;
        width: 3px;
        height: 80px;
    }

    .author , .date {
        font-size: 12px;
    }

    video {
        width: 80%;
        margin: 0 auto;
        display: block;
    }

    .small-title {
        width: 60px;
        padding: 7px;
    }


    .section-title {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #2A53C1;
    }

    .paragraph {
        font-size: 14px;
    }

    .main {
        width: 88%;
    }

    .comment {
        font-size: 12px;
    }
</style>


@Html.Partial("~/Views/Shared/SubViews/_HomeIntro.cshtml")

@{
    IEnumerable<TechNews.ViewModel.HomeViewModel> listPost = ViewBag.posts as IEnumerable<TechNews.ViewModel.HomeViewModel>;
    
}


<div class="container-fluid main">
    <div class="section p-5 m-5">
        <div class="title-section">
            <div class="border bg-dark p text-light small-title">News</div>
            <hr class="bg-dark" />
        </div>


        <div class="row my-2">
            <div class="col-md-8">
                @foreach (var post in listPost) {
                    <div class=" mb-4 article d-flex">
                        <img src="~/img/IMG_6502.jpg" width="20%" />
                        <div class="ml-3 content-article">
                            <h4>@post.Title</h4>
                            <div class="info-article ">
                                <span class="author font-weight-bold">@post.PosterName</span>
                                <span class="date text-muted">@String.Format("{0:MM/dd/yyyy}", post.PostedDay)</span>
                            </div>
                            <div class="content">
                                @post.Content
                            </div>
                        </div>
                    </div>

                }
            </div>
            <div class="col-md-4">
                cho nay de quang cao nhe
            </div>
        </div>


    </div>
</div>