<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="~/Content/Site.css" />
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <style>
        nav {
            background-color: #000;
        }

        .navbar-brand {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        .nav-link {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: #fff !important;
        }

        footer {
            background-color: #000;
        }
    </style>
    <style>  

        /* The popup form - hidden by default */
        .form-popup {
            display: none;
            position: fixed;
            bottom: 0;
            right: 15px;
            border: 3px solid #f1f1f1;
            z-index: 9;
        }

        /* Add styles to the form container */
        .form-container {
            max-width: 300px;
            padding: 10px;
            background-color: white;
        }

            /* Full-width input fields */
            .form-container input[type=text], .form-container input[type=password] {
                width: 100%;
                padding: 15px;
                margin: 5px 0 22px 0;
                border: none;
                background: #f1f1f1;
            }

                /* When the inputs get focus, do something */
                .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                    background-color: #ddd;
                    outline: none;
                }

            /* Set a style for the submit/login button */
            .form-container .btn {
                background-color: #4CAF50;
                color: white;
                padding: 16px 20px;
                border: none;
                cursor: pointer;
                width: 100%;
                margin-bottom: 10px;
                opacity: 0.8;
            }

            /* Add a red background color to the cancel button */
            .form-container .cancel {
                background-color: red;
            }

            /* Add some hover effects to buttons */
            .form-container .btn:hover, .open-button:hover {
                opacity: 1;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Berkiss</a>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
                    <li class="nav-item"><a href="/News/" class="nav-link">All News</a></li>
                    <li class="nav-item"><a href="/Home/Contact" class="nav-link">Contact</a></li>
                    <li class="nav-item"><a href="/Home/" class="nav-link">Advertise</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right ml-auto p-1">
                    @if (Session["user_id"] == null) {
                        <li class="nav-item"><a href="/Authentication/Register" id="registerLink" class="nav-link">Register</a></li>
                        <li class="nav-item"><a href="/Authentication" id="loginLink" class="nav-link">Log in</a></li>
                    } else {
                        <li class="nav-item mr-2">
                            @{
                                int id = Convert.ToInt32(Session["user_id"]);
                                var user = new TechNews.DB.TechNewsEntities().Accounts.First(info => info.aID == id);
                            }
                            <div class="d-flex"> 

                                <div class="form-popup" id="myForm">
                                    <form   class="form-container">
                                        <h1>Login</h1>

                                        <label for="txtUsernameChange"><b>Username</b></label>
                                        <input type="text" placeholder="Enter Email" name="txtUsernameChange" required>

                                        <label for="txtPasswordChange"><b>Password</b></label>
                                        <input type="password" placeholder="Enter Password" name="txtPasswordChange" required>
                                        
                                        <label for="txtRePasswordChange"><b>Password</b></label>
                                        <input type="password" placeholder="Enter Re-Password" name="txtRePasswordChange" required>
                                        
                                        <label for="txtFullnameChange"><b>Fullname</b></label>
                                        <input type="text" placeholder="Enter Fullname" name="txtFullnameChange" required>
                                        
                                        <label for="txtEmailChange"><b>Email</b></label>
                                        <input type="text" placeholder="Enter Email" name="txtEmailChange" required>
                                         
                                        <button type="submit"  onclick="closeForm()" class="btn">Change Information</button> 
                                    </form>
                                </div>

                                <script>
                                    function openForm() {
                                        document.getElementById("myForm").style.display = "block";
                                    }

                                    function closeForm() {
                                        document.getElementById("myForm").style.display = "none";
                                    }
                                </script>


                                <a href="#" onclick="openForm()" class="nav-link">
                                    <i class="fa fa-user-circle fab-4px"></i>
                                </a>
                                <p class="mt-2 mr-3 ml-2 text-light">Hello, @user.aFullname</p>
                                <a class="mt-2 text-light " href="/Authentication/LogOut">Logout</a>
                            </div>
                        </li>

                    }
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    @RenderBody()
    <!-- Footer -->

    <footer class="page-footer font-small ">

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3 text-light">
            © 2020 Copyright:
            <a href="https://mdbootstrap.com/" class="text-light"> Berkiss.com</a>
        </div>
        <!-- Copyright -->

    </footer>

    <!-- Footer -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
