
<style>
    hr.dot {
        border-top: 2px dashed #eee;
    }

    .banner-title {
        width: 17%;
    }

    .content{
        color: #777;
        font-size: 12px;
    }

    .title-article:hover{
        color:#ff6a00;
    }

</style>

@{
    IEnumerable<TechNews.DB.Category> categories = ViewBag.category as IEnumerable<TechNews.DB.Category>;
    IEnumerable<TechNews.ViewModel.HomeViewModel> listPost = ViewBag.posts as IEnumerable<TechNews.ViewModel.HomeViewModel>;
}

@Html.Partial("~/Views/Shared/SubViews/_HomeIntro.cshtml")
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="title-cate">
                <div class="h4 font-weight-bold">News Category</div>
                <hr class="bg-dark" />
            </div>
            <ul class="mt-3 list-unstyled">
                @foreach (var cate in categories) {
                    <li>
                        <a class="category text-decoration-none text-dark" href="/News/Category/@cate.cateID">@cate.cateName</a>
                        <hr class="dot" />
                    </li>
                }
            </ul>
        </div>
        <div class="col-md-8">
            <div class="section">
                <div class="theard-post d-flex justify-content-center">
                    <h1>Lasted new technology system</h1>
                </div>
                <div class="banner-title bg-dark">
                    <div class="p text-light p-1 ">
                        Featured news
                    </div>
                </div>
                <hr />
                <div class="row mt-3">

                    @foreach (var post in listPost) {
                        <div class="col-md-4 my-3">
                            <div class="article">
                                <div class="h5 ">
                                    <a class="text-justify text-decoration-none text-dark title-article" href="#"> @post.Title</a>
                                </div>
                                <div class="justify-content-lg-start pb-2">
                                    <small class="font-weight-bold">@post.PosterName - author</small>
                                    
                                </div>
                                <div class="content text-left">
                                    @post.Content.Substring(0,150) ...
                                   
                                </div>
                            </div>
                        </div>
                    }



                </div>
            </div>
        </div>
    </div>
</div>